@media (max-width: 1440px) {
  .main-img {
    width: 30%;
  }
  .main-img-before {
    width: 120px;
    height: 120px;
  }
  .main-img-before h3,
  .main-img-before p {
    font-size: 12px;
  }
}

@media (max-width: 1190px) {
  .container {
    width: 740px;
  }
  .nav {
    width: 40%;
  }
  .main-content-title {
    font-size: 30px;
  }
  .main-content-text {
    font-size: 18px;
  }
  .problem-des {
    font-size: 22px;
  }
  .problem-list__img {
    width: 300px;
    min-width: 300px;
    height: 300px;
  }
  .play-english-list__item {
    width: 48%;
    height: auto;
    padding: 130px 60px 0 60px;
    margin-bottom: 60px;
  }
  .play-english-list__item::before {
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
  }
  .play-english-list__item h3 {
    width: 100%;
    text-align: center;
  }
  .after-workshop-top__text {
    text-align: center;
  }
  .after-workshop-top__text::before {
    display: none;
  }
  .after-workshop-list__item {
    margin: 0 20px 20px 20px;
  }
  .after-workshop-bottom li p {
    font-size: 48px;
    -webkit-text-stroke-width: 4px;
  }
  .way-top {
    display: flex;
    justify-content: space-between;
  }
  .use-list__img {
    width: 240px;
    height: 240px;
  }
  .use-list__des {
    height: auto;
    width: 500px;
    left: 200px;
    padding: 10px;
  }
  .use-list__des p {
    font-size: 24px;
  }
  .way-desc {
    width: 70%;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 40px;
  }
  .way-marker {
    width: 20%;
    padding-bottom: 0;
    background-image: url(../img/way/marker-mobill.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .way-marker::after {
    display: none;
    margin-bottom: none;
  }
  .way-marker div {
    display: none;
  }
  .way-desc__text {
    width: 100%;
    font-size: 22px;
    margin-bottom: 50px;
  }
  .child-should-list__title h2 {
    font-size: 24px;
  }
  .child-should-list__item > div {
    width: 80%;
  }
  .child-should-list__item.revers .child-should-list__block {
    padding-left: 0;
  }
  .autor {
    padding: 40px 0;
  }
  .autor-list__img {
    min-height: 550px;
  }
  .autor-list__img img {
    display: block;
    width: 100%;
    height: auto;
  }
  .autor-list__bg {
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 550px;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .autor-list__img {
    width: 300px;
  }
  .autor-content {
    width: 400px;
  }
  .autor-content__title {
    font-size: 32px;
  }
  .autor-content > p {
    font-size: 18px;
  }
  .attainment {
    padding: 40px 0;
  }
  .attainment-list__title {
    font-size: 26px;
  }
  .attainment-list__text {
    font-size: 20px;
  }
  .attainment-list__item {
    padding-left: 40px;
  }
  .attainment-university {
    transform: translateX(-40px);
  }
  .lesson-bottom {
    overflow: hidden;
  }
  .price-btn,
  .price {
    width: 100%;
  }
  .payment-container {
    display: flex;
    align-items: center;
  }
  .payment-step {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .payment-step::before {
    width: 4px;
    height: 100%;
    left: 100%;
    top: 0;
  }
  .payment-step__item {
    margin-bottom: 40px;
  }
  .payment-step__item:last-child {
    margin-bottom: 0;
  }
  .payment-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .payment-content__item {
    width: 100%;
    margin-bottom: 40px;
  }
  .payment-content__item > h2,
  .payment-content__btn {
    font-size: 20px;
  }
  .payment-content__item > p {
    font-size: 16px;
  }
  .about-us-top__img {
    width: 40%;
  }
  .about-us-top__content {
    width: 55%;
  }
  .about-us-text-bg,
  .about-us-text,
  .about-us-top__content > p {
    font-size: 20px;
  }
  .slider-container {
    width: 400px;
  }
  .reviews-text {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .orange-wrapper,
  .blue-wrapper {
    padding: 20px 0;
  }
  .main-wrapper {
    height: auto;
    min-height: auto;
  }
  .header-wrapper {
    padding: 10px 0;
  }
  .container {
    width: 90%;
  }
  .mabil-none {
    display: none;
  }
  .logo-item {
    width: 80px;
    height: 40px;
  }
  .nav {
    width: 90%;
  }
  .nav-list__item a {
    font-size: 18px;
  }
  .main-img > .mobil-none {
    display: none;
  }
  .main-img > .mobil-img {
    display: block;
    margin-left: 20px;
  }
  .main-img-before {
    width: 100px;
    height: 100px;
    transform: translate(0, -50%);
  }
  .main-img-before h3,
  .main-img-before p {
    font-size: 12px;
  }
  .main {
    position: relative;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    padding: 10px 0 160px 0;
  }
  .main-img {
    width: 100%;
  }
  .main-content {
    position: static;
    width: 100%;
  }
  .main-content-title-top {
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .main-content-text,
  .main-content-title {
    text-align: center;
    line-height: 1;
  }
  .main-content-text.last {
    margin-bottom: 50px;
  }
  .main-content-text {
    font-size: 14px;
  }
  .main-btn {
    position: absolute;
    bottom: 40px;
    display: block;
    text-align: center;
    width: 240px;
    margin-top: 0;
    left: 50%;
    white-space: nowrap;
    font-weight: 800;
    text-transform: uppercase;
    transform: translateX(-50%);
  }
  .main-autor-mame {
    width: 160px;
    height: 60px;
    bottom: 120px;
  }
  .wrapper-title__item {
    font-size: 24px;
  }
  .for-whom-list {
    margin-bottom: 20px;
  }
  .for-whom .wrapper-title__item {
    margin: 0 50px;
  }
  .for-whom___title {
    font-size: 16px;
  }
  .for-whom-list__item {
    width: 50%;
  }
  .for-whom-list__img {
    width: 160px;
    margin: 0 auto;
  }
  .for-whom-list__top h3 {
    font-size: 14px;
  }
  .for-whom-list__bottom {
    padding: 40px 0;
  }
  .for-whom-list__bottom p {
    font-size: 14px;
  }
  .for-whom-list-bottom {
    width: 100%;
  }
  .problem-title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .problem-des {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .problem-des > br {
    display: none;
  }
  .problem-list__item {
    position: relative;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  .problem-list__img {
    width: 124px;
    min-width: 124px;
    height: 124px;
  }
  .problem-list-content {
    padding-top: 90px;
  }
  .problem-list-content h3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 14px;
    text-align: left;
    font-weight: 700;
  }
  .problem-list-content p {
    position: absolute;
    top: 35px;
    right: 40px;
    font-size: 14px;
    width: 280px;
    margin-bottom: 20px;
  }
  .problem-list__item.revers .problem-list-content h3,
  .problem-list__item.revers .problem-list-content p {
    position: static;
    font-weight: 700;
  }
  .problem-list__item.revers .problem-list-content h3 span {
    color: #ff8600;
  }
  .problem-list__item.revers .problem-list-content p {
    font-weight: 700;
    color: #27187e;
  }
  .problem-list__item.revers .problem-list-content {
    padding: 0;
  }

  .problem-list-content__item {
    align-items: flex-end;
  }
  .problem-list-content__item div {
    width: 100%;
    font-size: 12px;
    width: 90%;
    margin-bottom: 8px;
  }
  .text-block {
    padding: 20px 0 0 0;
  }
  .play-english-list {
    justify-content: center;
  }
  .play-english-list__item {
    padding: 100px 0 0 0;
    margin-bottom: 20px;
  }
  .play-english-list__item::before {
    width: 100px;
    height: 100px;
  }
  .text-block h2,
  .problem-text-bottom p {
    font-size: 18px;
  }
  .play-english__title {
    font-size: 16px;
    padding: 20px 0 20px 0;
  }
  .play-english-list__item h3 {
    font-size: 14px;
    font-weight: 700;
  }
  .after-workshop-list {
    margin-bottom: 10px;
  }
  .after-workshop-top__text {
    font-size: 16px;
    padding-left: 0;
    margin-bottom: 10px;
  }
  .after-workshop-list__item {
    width: 120px;
    height: 120px;
  }
  .after-workshop-list__item span {
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
  }
  .after-workshop-list__item p {
    font-size: 14px;
    text-align: center;
  }
  .after-workshop-bottom {
    margin-top: 10px;
  }
  .after-workshop-bottom li p {
    font-size: 20px;
    -webkit-text-stroke-width: 2px;
  }
  .learning-skill {
    padding: 10px 0 0 0;
  }
  .learning-skill p {
    font-size: 18px;
  }
  .learning-skill p:last-child {
    margin-bottom: 10px;
  }
  .use-list__item {
    margin-top: 20px;
  }
  .use-list__img {
    width: 100px;
    height: 100px;
  }
  .use-list__des {
    width: 70%;
    left: 80px;
    box-sizing: border-box;
    bottom: 0;
  }
  .use-list__item.revers .use-list__des {
    left: auto;
    right: 80px;
  }
  .use-list__des p span,
  .use-list__des p {
    font-size: 10px;
  }
  .way-desc {
    align-items: flex-start;
    margin-bottom: 0;
    padding-top: 20px;
  }
  .way-desc__text {
    width: 90%;
  }
  .way-marker div::before,
  .way-marker div {
    width: 80px;
    height: 80px;
  }
  .way-desc__text {
    font-size: 12px;
  }
  .way-bottom h3 {
    font-size: 18px;
  }
  .way-bottom h3 span {
    color: #ff8600;
  }
  .way-bottom p {
    font-size: 12px;
  }
  .child-should-list__title {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .child-should-list__item.revers {
    padding: 0;
  }
  .child-should-list__item > div {
    width: 100%;
  }
  .child-should-list__title h2 {
    font-size: 12px;
    text-align: center;
  }
  .child-should-list__title h2 > br {
    display: none;
  }
  .child-should-list__block p {
    font-size: 14px;
  }
  .child-should-list__item.revers .child-should-list__block {
    width: 100%;
    margin-left: 0;
  }
  .child-should-list__block p {
    margin-bottom: 10px;
  }
  .child-should-list__item:last-child {
    margin-bottom: 0;
  }
  .autor-content {
    position: static;
  }
  .autor-list__item {
    padding-top: 50px;
  }
  .autor-list__item.revers {
    padding-top: 0;
  }
  .autor-content__title {
    font-size: 16px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
  }
  .autor-content__title > br {
    display: none;
  }
  .autor-content > p {
    font-size: 12px;
    padding-left: 20px;
    margin-bottom: 6px;
  }
  .autor-content__highlight {
    font-size: 12px !important;
  }
  .item-list::before {
    width: 14px;
    height: 14px;
  }
  .autor-list__item {
    position: relative;
  }
  .autor-content {
    width: 58%;
  }
  .autor-list__img {
    width: 40%;
  }
  .autor-list__img img {
    width: 126px;
    height: 192px;
  }
  .autor-list__bg {
    width: 126px;
    min-width: 126px;
    height: 222px;
    min-height: 222px;
    border-radius: 20px;
  }
  .autor-list__img {
    min-height: 222px;
  }
  .autor-list__item.revers .autor-list__img {
    display: none;
  }
  .autor-list__item.revers .autor-content {
    width: 100%;
  }
  .attainment {
    padding: 20px 0;
  }
  .attainment-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .attainment-list__item {
    margin-bottom: 10px;
    padding-left: 30px;
  }
  .attainment-university {
    transform: translateX(-20px);
    margin-bottom: 0;
    margin-top: 0;
  }
  .attainment-university .mobill-none {
    display: none;
  }
  .attainment-list__number {
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
  }
  .attainment-list__title {
    font-size: 16px;
  }
  .attainment-list__item:nth-child(3),
  .attainment-list__item:nth-child(2) {
    width: 100%;
  }
  .attainment-university li {
    width: 130px;
    margin: 10px 0;
  }
  .attainment-university__text {
    font-size: 10px;
  }
  .attainment-university__item {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .attainment-university__item > div {
    width: 60px;
    height: 60px;
  }
  .attainment-university__item > div > img {
    display: block;
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
  }
  .attainment-list__text {
    font-size: 14px;
    padding-left: 20px;
  }
  .lesson {
    padding: 20px 0 20px 0;
  }
  .lesson-top-text-container > p {
    font-size: 16px;
    width: 180px;
  }
  .lesson-top-text {
    font-size: 16px;
  }
  .lesson-top-text.mb {
    margin-bottom: 20px;
  }
  .lesson-bottom-title__item {
    font-size: 14px;
  }
  .lesson-bottom p {
    font-size: 16px;
  }
  .price-block-title {
    font-size: 24px;
    text-align: center;
  }
  .price {
    padding: 20px;
    border-radius: 20px;
  }
  .price-title span {
    font-size: 24px;
    -webkit-text-stroke-width: 1px;
    margin-right: 10px;
  }
  .price-title {
    font-size: 20px;
  }
  .price-plus {
    font-size: 20px;
    font-weight: 700;
  }
  .price-list {
    margin-bottom: 40px;
  }
  .price-list__item {
    margin-bottom: 10px;
  }
  .price-list__item > p {
    padding-left: 20px;
    font-size: 10px;
  }
  .price-bottom__old {
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .price-bottom__now {
    font-size: 34px;
  }
  .price-btn {
    font-size: 12px;
  }
  .price-bottom-text,
  .price-return-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .payment-step {
    padding-bottom: 0;
  }
  .payment-step__item {
    font-size: 34px;
    -webkit-text-stroke-width: 2px;
    margin-bottom: 70px;
  }
  .payment-content__item {
    margin-bottom: 30px;
  }
  .payment-content__btn {
    width: 70%;
    display: block;
    text-align: center;
    padding: 12px 0;
    margin: 0 auto;
    position: relative;
    font-size: 14px;
    white-space: nowrap;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .payment-content__item > h2 {
    font-size: 16px;
    margin-bottom: 0;
  }
  .payment-content__item > p {
    font-size: 14px;
  }
  .payment-bottom-text,
  .payment-bottom-title {
    font-size: 16px;
  }
  .questions-title {
    text-align: center;
    font-size: 18px;
  }
  .questions-list__item h2 {
    font-size: 16px;
  }
  .questions-list__item p {
    font-size: 12px;
  }
  .about-us {
    padding: 20px 0 0 0;
  }
  .about-us-top {
    flex-direction: column;
  }
  .about-us-top__content {
    width: 100%;
    margin-bottom: 20px;
  }
  .about-us-text-bg,
  .about-us-text,
  .about-us-top__content > p {
    font-size: 12px;
  }
  .footer-wrapper {
    padding: 10px 0;
  }
  .footer {
    position: relative;
    padding: 20px 0 60px 0
  }
  .footer-item {
    width: 50%;
    margin-bottom: 0;
  }
  .footer-item.link-list {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  .slider-container {
    width: 90%;
    padding-bottom: 60px;
  }
  .reviews-text {
    font-size: 16px;
  }
  .slider-btn {
    top: auto;
    bottom: 0;
    transform: translateY(0);
  }
  .slider-btn__left {
    left: 0;
  }
  .slider-btn__right {
    right: 0;
  }
  .footer-item__text {
    font-size: 7px;
    margin-bottom: 8px;
  }
  .footer-item__text.right {
    text-align: right;
  }
  .footer-item__btn {
    font-size: 8px;
    padding: 8px 0;
    width: 120px;
    margin-bottom: 8px;
  }
  .footer-item__link.instagram {
    width: 40px;
    height: 40px;
  }
  .footer-item__link.email {
    width: 50px;
    height: 45px;
  }
  .accordion {
    padding-right: 20px;
  }
}
