@import "./header.css";
@import "./main.css";
@import "./for-whom.css";
@import "./problem.css";
@import "./text-block.css";
@import "./play-english.css";
@import "./after-workshop.css";
@import "./use.css";
@import "./child-should.css";
@import "./autor.css";
@import "./attainment.css";
@import "./lesson.css";
@import "./price-wrapper.css";
@import "./payment.css";
@import "./questions-wrapper.css";
@import "./about-us.css";
@import "./reviews.css";
@import "./footer.css";

.main-wrapper {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background: linear-gradient(65.08deg, #fde0c0 0%, #e4e8ff 96.27%);
  margin-bottom: 40px;
}